@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('https://fonts.googleapis.com/css?family=Bree+Serif');

*,*:after,*:before {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    color: inherit;
}


html, body {
    background-image: -webkit-linear-gradient(top left, #667eea 0%, #764ba2 100%);
    background-image: -moz-linear-gradient(top left, #667eea 0%, #764ba2 100%);
    background-image: -o-linear-gradient(top left, #667eea 0%, #764ba2 100%);
    background-image: linear-gradient(to bottom right, #667eea 0%, #764ba2 100%);
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;

    color: #fff;
    font-family: 'Quicksand', sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

h2 {
    letter-spacing: 0.05em;
}

.section {
    display: flex;
    justify-content: center;
    align-content: space-around;
    padding: 1em;
}

.social-bar > a {
    margin: 0 1em;
}

.avatar {
    height: 15em;
    border-radius: 50%;
    border: 0.3em solid #fff;
}

.title {
    font-size: 2em;
    font-family: 'Bree Serif', serif;
    letter-spacing: 0.1em;
}

.bio {
    font-size: 1.3em;
    text-align: center;
}

.list > .item {
    text-align: center;
    margin-bottom: 1em;
    padding: 1em;
    border: 0.1em solid #fff;
    border-radius: 2em;
}

/* Animations */

